@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model Skoruba.IdentityServer4.STS.Identity.ViewModels.Manage.ChangePasswordViewModel
@{
    ViewData["Title"] = Localizer["Title"];
}


@await Html.PartialAsync("_ValidationSummary")

@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)

<main class="card mb-4 box-shadow" style="padding: 1rem; overflow: auto;">
    
    <h4 style="text-align: center;">@ViewData["Title"]</h4>
    
    <form method="post" class="labsoft-changePassword-form">
        
        <div asp-validation-summary="All" class="text-danger"></div>
        
        <aside class="labsoft-changePassword-agroup-input-text">
            <label asp-for="OldPassword">@Localizer["OldPassword"]</label>
            <div>
                <input asp-for="OldPassword" type="password" />
                <i class="fa fa-lock"></i>
            </div>
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </aside>
        
        <aside class="labsoft-changePassword-agroup-input-text">
            <label asp-for="NewPassword">@Localizer["NewPassword"]</label>
            <div>
                <input asp-for="NewPassword" type="password" />
                <i class="fa fa-lock"></i>
            </div>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </aside>

        <aside class="labsoft-changePassword-agroup-input-text">
            <label asp-for="ConfirmPassword">@Localizer["ConfirmPassword"]</label>
            <div>
                <input asp-for="ConfirmPassword" type="password" />
                <i class="fa fa-lock"></i>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </aside>
         <aside class="labsoft-changePassword-agroup-input-text">
            <button type="submit" class="labsoft-changePassword-button-primary"><i class="fa fa-save"></i> @Localizer["Update"]</button>
         </aside>

    </form>
</main>