@using Microsoft.AspNetCore.Html;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@model Skoruba.IdentityServer4.STS.Identity.ViewModels.Account.ForgotPasswordViewModel
@inject IOptions<IdentityOptions> IdentityOptions
@{
    ViewData["Title"] = Localizer["Title"];
}

@await Html.PartialAsync("_ValidationSummary")

<main>
    <section class="labsoft-forgotPassword-imageWrapper"></section>
    <img src="../../images/labsoft-logo.svg" class="labsoft-forgotPassword-logo" alt="Labsoft logo">
    <div class="labsoft-forgotPassword-title-and-subtitle">
        <h1>@ViewData["Title"]</h1>
        <h5>@Localizer["InformativeTextRecoverPassword"]</h5>
    </div>
    <section class="labsoft-forgotPassword-section-container">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">

            <aside class="labsoft-forgotPassword-choosePolicy-group" @(!string.IsNullOrEmpty(Model.RequesterClient) ? new HtmlString("style=\"display: none;\"") : new HtmlString(""))>
                @if (IdentityOptions.Value.User.RequireUniqueEmail)
                {
                    <div>
                        <input type="radio" asp-for="Policy" value="Email" id="email-forgotpassword" /><label for="email-forgotpassword">@Localizer["Email"]</label>
                    </div>
                }
                <div>
                    <input type="radio" asp-for="Policy" value="Username" id="username-forgotpassword"  /><label for="username-forgotpassword">@Localizer["Username"]</label>
                </div>
            </aside>

            <aside class="resetPasswordBy labsoft-forgotPassword-adaptive" id="resetPasswordByEmail">
                <div class="labsoft-forgotPassword-agroup-input-text">
                    <label asp-for="Email">@Localizer["Email"]:</label>
                    <div>
                        <input asp-for="Email" type="email"/>
                        <i class="fa fa-envelope"></i>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <button type="submit" class="labsoft-forgotPassword-button-secondary"><i class="fa fa-paper-plane" style="color: #5E81F4"></i> @Localizer["SendEmail"]</button>
                </div>
            </aside>

            <aside class="resetPasswordBy" id="resetPasswordByUsername">
                <div class="labsoft-forgotPassword-agroup-input-text">
                    <label asp-for="Username">@Localizer["Username"]:</label>
                    <div>
                        <input asp-for="Username" type="text" />
                        <i class="fa fa-user"></i>
                    </div>
                    <span asp-validation-for="Username" class="text-danger"></span>
                    <button type="submit" class="labsoft-forgotPassword-button-secondary"><i class="fa fa-paper-plane" style="color: #5E81F4"></i> @Localizer["SendEmail"]</button>
                </div>
            </aside>

            <input type="hidden" asp-for="RequesterClient" />
        </form>
    </section>
    <footer class="labsoft-forgotPassword-footer-by">
        <span >@Localizer["PoweredBy"]</span>
    </footer>
</main>


@section scripts {
    <script src="~/js/forgot-password.js">
    </script>
}